* {
    margin: 0;
    padding: 0;
}

/* Header Styling */

.header,
.link,
.top-container {
    color: #f9faf8;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.header-left {
    font-size: 24px;
    font-family: Roboto;
}

.header-right {
    display: flex;
    gap: 16px; 
}

.link {
    font-size: 18px;
    color: #e5e7eb;
    font-family: Roboto;
    text-decoration: none;
}

/* Header & Main Content Styling */
.header,
.top-container,
.footer {
    background-color: #1f2937;
}

/* Main Content Syling */
.top-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.main-picture {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    color: #e5e7eb;
    font-weight: 500;
}

/* Info Container */

img {
    width: 200px;
    height: auto;
    border-radius: 20px;
}

.info-container {
    margin-top: 10px;
    text-align: center;
}

.info-main {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* Quote Container */
.quote-container {
    background-color: #e5e7eb;
    height: 200px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 700px;
}

/* Bottom Container */
.bottom-container {
    background-color: #3882f6;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
}

.bottom-button {
    border: 1px solid #f9faf8;
}

.bottom-main-text {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.bottom-info-text {
    color: #d0d2d4;
}

/* Footer Container */
.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    padding: 16px 0;
}