* {
    margin: 0;
    padding: 0;
}

/* Header Styling */

.header,
.link,
.top-container {
    color: #f9faf8;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.header-left {
    font-size: 24px;
    font-family: Roboto;
}

.header-right {
    display: flex;
    gap: 16px; 
}

.link {
    font-size: 18px;
    color: #e5e7eb;
    font-family: Roboto;
    text-decoration: none;
}

/* Header & Main Content Styling */
.header,
.top-container {
    background-color: #1f2937;
}

/* Main Content Syling */
.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.main-picture {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    color: #e5e7eb;
    font-weight: 500;
}

/* Info Container */

img {
    width: 200px;
    height: auto;
}

.info-container {
    margin-top: 10px;
    text-align: center;
}

.info-main {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}